owm:
    api_key: <your_api_key>
    location: <your_city>
    country: <your_country>
    language: en

output:
    filename: weather.jpg

fonts:
    small: fonts/VeraSe12.pil
    big: fonts/VeraSe18.pil

openepaperlink:
    apip: 192.168.1.2
    mac: 0123456789ab

